# IMPUESTO A LAS GANANCIAS ANUAL  2022

## A. Importación de módulos y librerías

In [1]:
import pandas as pd
import numpy as np

from data import CWTR_SUM
from helpers.bases import tabla

In [2]:
filtro = "REM BURTA"
df= CWTR_SUM.groupby(['legajo','CCn'])['importe'].sum().reset_index() 
df= df.merge(tabla("conceptos")[["CCn", "descripcion", "Detalle Anual"]], how= "left", on="CCn")
df

        legajo   CCn     importe                descripcion Detalle Anual
0      6000002  /111  7181159.25  Total Haberes con aportes     REM BURTA
1      6000002  /124   197482.00      Haberes no remun.SIJP     REM BURTA
2      6000002  /321   497998.70   Aporte SIJP sobre sueldo       APORTES
3      6000002  /323    43193.58    Aporte SIJP sobre vaca.       APORTES
4      6000002  /325    52766.66      Aporte SIJP sobre Sac   APORTES SAC
...        ...   ...         ...                        ...           ...
59974  6114235  /361     1309.09  Aporte O.SOC. sobre suel.       APORTES
59975  6114235  /365       18.20    Aporte O.SOC. sobre Sac   APORTES SAC
59976  6114235  /S02      606.55                     S.A.C.          None
59977  6114235  3003      442.43    Aporte Gremial Art. 104  APORTES SIND
59978  6114235  8052      754.04  Seg.Vida Col.a carg EDASA     REM BURTA

[59979 rows x 5 columns]

In [3]:
tabla_dinamica = pd.pivot_table(df, index='legajo', columns='Detalle Anual', aggfunc=np.sum, values='importe', fill_value=0)
tabla_dinamica

Detalle Anual,APORTES,APORTES EXENT.,APORTES SAC,APORTES SIND,REM BURTA,REM EXENTA
legajo,,,,,,
6000002,838190.66,0.00,81548.48,0.00,7461695.68,53350.00
6000009,563706.17,16384.63,57661.18,37751.76,4223673.03,96380.06
6000010,647308.50,0.00,64192.00,0.00,5045330.15,47300.00
6000011,561830.30,0.00,56552.89,0.00,4263935.58,45100.00
6000013,545362.68,0.00,54043.68,0.00,3988912.37,58300.00
...,...,...,...,...,...,...
6114130,9181.36,0.00,152.88,549.07,57098.65,0.00
6114132,29958.60,1604.92,1664.20,1860.16,186696.19,9440.72
6114152,7310.00,0.00,121.71,437.16,45748.85,0.00
6114154,12456.24,0.00,311.40,3755.19,75807.21,0.00
6114235,7418.18,0.00,103.12,442.43,44996.99,0.00

In [4]:
tabla_dinamica.to_excel("../bases-ganancias-2022/reportes/cwtr_para_anual.xlsx")