## IMPUESTO A LAS GANANCIAS 2022

In [3]:
#importo las librerías que voy a utilizar

from data import CWTR, CWTR_SUM, DOTACION
from deducciones.incremental.calculo import *
import empleado as ee

### Cálculo del SAC correspondiente a cada semestre

In [4]:
#filtro el df que tiene todos los conceptos y dejo solamente el del SAC

df1 = CWTR_SUM
df_sac = CWTR_SUM
df_sac = df_sac[df_sac["CCn"].eq("/S02")]

#determino una lista con los meses que corresponden a cada semestre para luego agrupar

mes_1er_Sem = [1, 2, 3, 4, 5, 6]
mes_2do_Sem = [7, 8, 9, 10, 11, 12]

# creo df con el filtro correspondiente a cada semestre

df_1erSem = df_sac[df_sac['mes'].isin(mes_1er_Sem)]
df_2doSem = df_sac[df_sac['mes'].isin(mes_2do_Sem)]

#como tengo varios sac por mes, los agrupo para que me quede uno por cada semestre

df_1erSem = df_1erSem.groupby(['legajo','CCn'])['importe'].sum().reset_index() 
df_2doSem = df_2doSem.groupby(['legajo','CCn'])['importe'].sum().reset_index() 

#me traigo las remuneraciones para determinar si el SAC queda gravado o exento

In [16]:
# se crea un dataframe acumulativo, usando iterrows
df_rem_mes = pd.DataFrame([], columns=["legajo","Mes", "Importe"])
count = 0
for index, row in DOTACION.iterrows():
    
    # count+=1
    # if count == 5:
    #     break
    legajo = row["legajo"]
    
    
    for m in range(1,13):
        rem_mes = DeduccionEspecial.obtener_rem_mes(legajo,m)
        datos_emp = [[legajo, m, rem_mes]]
        df1 = pd.DataFrame(datos_emp, columns=["legajo","Mes", "Importe"])
        df_rem_mes = pd.concat([df_rem_mes, df1], ignore_index=True) #guardar en el mismo df, el concatenado de ese df (inicialmente vacío) y el que voy creando con cada iteración. En la segunda iteración va tener ese df mas el nuevo y asi sucesivamente. 
display(df_rem_mes)

        legajo Mes     Importe
0      6000002   1   466593.92
1      6000002   2  1405581.67
2      6000002   3   359751.07
3      6000002   4   363686.19
4      6000002   5   363361.69
...        ...  ..         ...
36787  6114237   8        0.00
36788  6114237   9        0.00
36789  6114237  10        0.00
36790  6114237  11        0.00
36791  6114237  12        0.00

[36792 rows x 3 columns]

In [15]:
df_rem_mes.to_clipboard()