In [ ]:
LEGAJO_LUDU = 6002385
from empleado import Empleado

empleado = Empleado(LEGAJO_LUDU)
liq = LiquidacionMensualEmpleado(empleado, 1)

In [ ]:
from remuneraciones.prorrateos import Prorrateos
pror = Prorrateos()

display(pror.filtrar(6066825, 1, 'cwtr'))
display(pror.filtrar(6066825, 2, 'cwtr'))
display(pror.filtrar(6066825, 11, 'cwtr'))

display(pror.filtrar(6066825, 11, 'calculado'))

In [3]:
from deducciones.incremental.tablas_tramo2 import TablasTramo2

tabla_tramo2 = TablasTramo2()
tabla_tramo2.deduccion(mes=1, sueldo=260220)

473.0

In [6]:
from data import EMPLEADOS
from empleado import Empleado

from deducciones.incremental.calculo import DeduccionEspecial as de

for legajo in EMPLEADOS:
    emp = Empleado(legajo)
    # print(emp)

    tramos = []
    for i in range(1,13):
        tramos.append(de.obtener_tramo(emp, i))
    
    # print(tramos)

    # ESTO DEMORA 4 MINUTOS

In [1]:
PALACIOS = 6001443

from empleado import Empleado

emp = Empleado(PALACIOS)
print(emp)

from deducciones.incremental.calculo import BASES_DEDUC_INCREM

BASES_DEDUC_INCREM[BASES_DEDUC_INCREM['legajo'].eq(PALACIOS)]

< Empleado - 6001443 - PALACIOS DANIEL ALEJANDRO >

       legajo  mes  BaseDeducIncrem
5304  6001443    1        240220.37
5305  6001443    2        286117.61
5306  6001443    3        317364.80
5307  6001443    4             0.00
5308  6001443    5             0.00
5309  6001443    6             0.00
5310  6001443    7             0.00
5311  6001443    8             0.00
5312  6001443    9        289880.42
5313  6001443   10        431503.36
5314  6001443   11        527579.36
5315  6001443   12        476396.81

In [10]:
PALACIOS = 6001443

# import remuneraciones.prorrateos as p
# pro = p.Prorrateos()
# print(pro)
# TODO revisar cuando tenga los conceptos


# ANTES REVISAR EL SCRIPT DE PARAMETRIZACION

import parametrizacion.conceptos as con
# TODO -> conceptos ---> armar excel...

# TODO Deducciones -> incremental -> calculo

85812.0