In [2]:
LEGAJO_LUDU = 6002385
from empleado import Empleado

empleado = Empleado(LEGAJO_LUDU)
liq = LiquidacionMensualEmpleado(empleado, 1)

NameError: name 'LiquidacionMensualEmpleado' is not defined

In [3]:
from remuneraciones.prorrateos import Prorrateos
pror = Prorrateos()

display(pror.filtrar(6066825, 1, 'cwtr'))
display(pror.filtrar(6066825, 2, 'cwtr'))
display(pror.filtrar(6066825, 11, 'cwtr'))

display(pror.filtrar(6066825, 11, 'calculado'))

,index,legajo,CCn,nombre,importe,mes,mes_pago,origen
0,156649,6066825,/V75,Diferencia plus vacacion.,959.33,1,1,cwtr
1,156680,6066825,4811,Gratific Extra Unica Vez,62352.00,1,1,cwtr

    index   legajo   CCn              nombre    importe  mes  mes_pago origen
0  156668  6066825  4012  BAV Extraordinario  276924.76    2         2   cwtr

,index,legajo,CCn,nombre,importe,mes,mes_pago,origen
0,156662,6066825,1256,Plus por vacaciones,26992.0,11,11,cwtr
1,156665,6066825,1258,Plus Rem.Var.p/vacaciones,0.0,11,11,cwtr

Empty DataFrame
Columns: [index, legajo, CCn, nombre, importe, mes, mes_pago, origen]
Index: []

In [4]:
from deducciones.incremental.tablas_tramo2 import TablasTramo2

tabla_tramo2 = TablasTramo2()
tabla_tramo2.deduccion(mes=12, sueldo=370000)

74430.0

In [5]:
from data import EMPLEADOS
from empleado import Empleado

from deducciones.incremental.calculo import DeduccionEspecial as de

for legajo in EMPLEADOS:
    emp = Empleado(legajo)
    # print(emp)

    tramos = []
    for i in range(1,13):
        tramos.append(de.obtener_tramo(emp, i))
    
    print(tramos)

    # ESTO DEMORA 4 MINUTOS

ImportError: cannot import name 'EMPLEADOS' from 'data' (c:\Users\mgriffa\OneDrive - Embotelladora Andina\Escritorio\Pau\Ganancias 2022\calculo-impuesto-ganancias-GIT\ganancias-cuarta-categoria\data.py)

In [6]:
PALACIOS = 6001443

from empleado import Empleado

emp = Empleado(PALACIOS)
print(emp)

from deducciones.incremental.calculo import BASES_DEDUC_INCREM

BASES_DEDUC_INCREM[BASES_DEDUC_INCREM['legajo'].eq(PALACIOS)]

< Empleado - 6001443 - PALACIOS,DANIEL ALEJANDRO >

       legajo  mes  BaseTramos
5304  6001443    1   252285.83
5305  6001443    2   305189.41
5306  6001443    3   334005.84
5307  6001443    4        0.00
5308  6001443    5        0.00
5309  6001443    6        0.00
5310  6001443    7        0.00
5311  6001443    8        0.00
5312  6001443    9   305936.94
5313  6001443   10   453812.27
5314  6001443   11   559374.66
5315  6001443   12   498656.80

In [9]:
PALACIOS = 6001443

from deducciones.incremental.calculo import *
import empleado as ee
PAU = 6066825
emp = ee.Empleado(PAU)

for m in range(1,13):
    print(DeduccionEspecial.obtener_tramo(emp, m))

1
3
1
1
1
1
1
1
1
1
1
2